.topnav{
 list-style-type: none;
 margin: 0px;
 padding: 0px;
 overflow: auto; 
 background-color: #333;
}

.topnav li{
  float: left;
}
.topnav li a{
  display:block ;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
.topnav li a:hover{
 background-color: #111; 
}
.topnav li a.active{
  background-color:#04AA6D;
}
.topnav li.right{
  float: right;
}

@media screen and (max-width: 600px){
  .topnav li.right,
  .topnav li {
    float: none;
  }
}